{% extends "base.twig" %}


{% block content %}
<section class="landing">
  <div class="landing__block">
    <div class="landing__center">
      <img class="landing__logo  animatedWrapper" src="{{site.theme.link}}/img/logo.png">
      <div class="landing__taglineBlock">
          <h3 class="landing__tagline  animatedWrapper">{{landing_tagline}}</h3>
          <a class="btn btn-secondary landing__taglineButton  animatedWrapper" href="./events/">Attend our Launch Event</a>
          <br><a href="{{site.url}}/about/" class="landing__taglinesubLink  animatedWrapper">About</a>&nbsp;&#8226;&nbsp;<a href="{{site.url}}/contact/" class="landing__taglinesubLink  animatedWrapper">Contact</a>
      </div>
    </div>
  </div>
  <div class="landing__block landing__video" id="video_background">
  
        <video class="full_video" id="theVideo" autoplay="true" poster="{{site.url}}/video/poster.jpg" preload="auto" loop><!-- Default video source: -->
          <source src="{{site.url}}/video/offline_homepage_2.mp4" type="video/mp4">
          <source src="{{site.url}}/video/offline_homepage_2.webm" type="video/webm">
        </video> <!--
                Buttons or metadata go here
              -->
  </div>
   
</section>
{% endblock %}